*{
    margin: 0; padding: 0;
}

body{
    font-family: "Raleway", "Helvetica", "sans-serif";
}

                        /* header */

header{
    background-image: url(../Transi/img/dark_tint.png) , url(../Transi/img/bokeh_car_lights_bg.jpg);
    background-size: 1368px;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.nav{
    margin: 1.8em; margin-right: 4em;
}

nav li{
    display: inline-block; margin-left:  30px;
}

nav li a{
    color: gray; font-size: 1.1em; font-weight: lighter;
}

nav li:not(:last-child)> a:hover{
    color: white; transition: ease-in-out 0.2s;
}



nav li.sign{
    border-radius: 20px; border-color: white; background-color: white; padding: 8px; padding-left: 15px; padding-right: 15px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    
}

.header-mid{
display: flex; flex-direction: column; align-items: center;
margin-top: 7em;
}

h1.transit {
    color: white; font-size: 1.25em; margin-left: 20px;
    margin-left: 2.4em; margin-top: 1.8em;
}

h1.transit a{
    color: white;
}

h1.transit a:hover{
    text-decoration: underline;
}

.header-mid h1{
    font-size: 3.6em; margin-bottom: 0.5em; color: white;


}

.header-mid p{ 
    font-size: 1.4em; margin-bottom: 1.75em; color: white;
    
}

.header-mid .btn{
    margin-bottom: 12em;  border-radius: 30px; border-color: #51b6d9; background-color: #51b6d9;
    padding: 15px 40px 15px 40px;
} 

.btn:hover{
    background-color: #1a9dc9; transition: ease-in-out 0.2s;
}
.btn a{
    font-size: 1.35em;
    font-weight: 400 ;
    color: white; 
    
}
                    /* container */
                    /* section 1 */
.sec1{
    border-bottom: 1px solid rgba(144, 144, 144, 0.25); 
    background-color: #F5F5F5;
    padding-top: 6em;
    
}

.titr{
    text-align: center;
    margin-bottom: 3em
    
}

.titr h1{
    font-size: 2.7em;
    margin-bottom: 0.5em;
    color: #474747;
    
}

.titr p{
    font-size: 1.4em;
    color: #858585;
}

.box{
    display: flex;
    margin-right: 3em;
    margin-left: 3em;
    margin-bottom: 3.5em;
    justify-content: space-around;
}
.box> div{
    border: 1px solid rgba(144, 144, 144, 0.25); background-color: white;
    text-align: center;
    margin: 23px;
    padding: 40px;
    border-radius: 10px;
    display: flex; flex-direction: column; justify-content: center;
    align-items: center;
}

.box .cloud span{
    background-color: #1a9dc9;
    display: flex;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    padding: 10%;
    margin-bottom: 1em;   
}

.box .pc span{
    background-color: #add43c;
    display: flex;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    padding: 10%;
    margin-bottom: 1em;   
}

.box .rocket span{
    background-color: #d43c61;
    display: flex;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    padding: 10%;
    margin-bottom: 1em;
}

.box h3{
    color: #858585;
    font-size: 1.35em;
    margin-bottom: 1em;
}

                        /* section 2 */

.sec2{
    background-color: white;
    padding-top: 6em;
    margin-bottom: 5em;
}

.box p{
    color: #444;
    font-size: ;
    margin-bottom: 1.5em;
}

.person{
    border-top: rgba(144, 144, 144, 0.25) 1px solid;  border-bottom:rgba(144, 144, 144, 0.25) 1px solid;
    padding-top: 60px; padding-bottom:60px ; margin-left: 70px; margin-right: 70px;
    margin-bottom: 4em;
}

.person ul{
    display: flex;
    justify-content: space-around;
}

.person img{
    border-radius: 50%;
}

.person li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.person .info{
    margin-left: 15px;
}

.info h3{
    margin-bottom: 8px;
    color: #474747;
    font-size: 1.1em;
}

.info p{
    color: #444;
}

.last{
    display: flex; flex-direction: column; align-items: center;
    text-align: center;
    margin-left: 250px; margin-right: 250px;
}

.last p{
    margin-bottom: 3em;
    color: #444;
}

.last .btn{
    border-radius: 30px; border-color: #51b6d9; background-color: #51b6d9;
    padding: 15px 40px 15px 40px;
}

.sec3{
    background-color: #3cadd4;
    display: flex; flex-direction: column; align-items: center;
    padding-top: 5em;

}

.sec3 h3{
    color: white;
    font-size: 3em;
    margin-bottom: 0.5em;
}

.sec3 p{
    color: white;
    font-size: 1.5em;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
}

form> .form_1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

form> .form_1 :first-child{
    margin-right: 40px;
    
}

form div{
    width: 100%;
    
}

form div input{
    width: 100%;
    height: 2.75em;
    padding-left: 15px;
    overflow-wrap: break-word ;   
    border-radius: 5px;
    border: none;
}

form .msg input{
    height: 15em;
    margin-bottom: 2em;
}

form .sub_btn{
    display: flex;
    justify-content: center;
}
form .sub_btn input{
    border-radius: 30px; border-color: #51b6d9; background-color: #383b43;
    height: 2.85em;
    padding: 15px 40px 15px 40px;
    color: aliceblue;
    font-size: 1.35em; 
    font-weight: 400;
    width: max-content;
    cursor: pointer;
    margin-bottom: 4em;
}

footer{
    background-color: #383b43;
    padding-top: 5em;
}

footer> .clmn{
    display: flex;
    justify-content: space-around;
    margin-left: 2em;
    margin-right: 2em;
    border-bottom: rgba(144, 144, 144, 0.25) solid 1px;
    padding-bottom: 2em;
    margin-bottom: 5em;
}

footer div h3{
    color: white;
    font-size: 1.35em;
    line-height: 1.5em;
    margin-bottom: 1em;
}

footer div li{
    margin-bottom: 1em;
}

footer div a{
    color: #cdced0
}

footer div ul a:hover{
    text-decoration: underline;
}

footer .final{
    display: flex;
    justify-content: space-between;
    position: relative;
}

footer .final div{
    margin-left: 5em;
}
footer .final ul{
    display: flex;
}

footer .final div li{
    color: #858585;
    margin-right: 1em;
}

footer .final div a{
    color: #858585;
}

footer> .final> .icn{
    position: relative;
    right: -11em;
    top: -1em;
    margin-bottom: 4em;
}

footer> .final> .icn li{
    
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

footer> .final> .icn .facebook{
    background-color: #39599f;
}

footer> .final> .icn .twitter{
    background-color: #2daae4;
}

footer> .final> .icn .google{
    background-color: #c91e1f;
}

footer> .final> .icn .linkedin{
    background-color: #31516a;
}


footer> .final> .icn li a{
    color: white;
}

